/* Custom color variables */
:root {
    --custom-darkgreen: #061F19;
    --custom-green-searchbar: #15705A;
    --custom-green-highlighted: #136451;
    --custom-green: #0E493B;
    --custom-lightgreen-highlighted: #31ffd2;
    --custom-lightgreen: #00c59a;
}

.popularContainer {
    width: 70%;
    min-height: 20rem;
    background-color: var(--custom-darkgreen);
    border-radius: 20px;
    max-width: fit-content;
    min-width: 70%;
    margin-left: auto;
    margin-right: 8%;
    margin-top: 50px;
}

.containerHeader {
    color: var(--custom-lightgreen);
    background-color: var(--custom-green);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px 20px;
}

.containerContent {
    color: var(--custom-green-highlighted);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
}