/* Custom color variables */
:root {
    --custom-darkgreen-highlighted: #0a3026;
    --custom-darkgreen: #061F19;
    --custom-green-highlighted: #136451;
    --custom-green: #0E493B;
    --custom-green-searchbar: #15705A;
    --custom-green-searchbar-highlighted: #138f70;
    --custom-lightgreen-highlighted: #31ffd2;
    --custom-lightgreen: #00c59a;
    --custom-whitegreen: #baf5e8;
}

/* Navbar container */
.topnav {
    background-color: var(--custom-green);
    overflow: hidden;
}
  
/* Navbar items */
.topnav div {
    color: var(--custom-lightgreen);
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    font-size: 17px;
}

.topnav div.left {
    float: left;
}

.topnav div.right {
    float: right;
}

.topnav div.logo {
    float: left;
    border-bottom: 2px solid var(--custom-green);
}

/* Navbar search bar */
.topnav div.searchbar {
    float: left;
    padding: 0px 20px;
    margin-top: 10px;
}

.topnav div.searchbar input[type=text] {
    border: none;
    padding: 7px 15px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    outline: none;
    background-color: var(--custom-green-searchbar);
    color: var(--custom-lightgreen-highlighted);
    width: 500px;
    max-width: 500px;
    min-width: 200px;
    height: 18px;
}

.topnav div.searchbar input[type=text]::placeholder {
    /* Firefox */
    color: var(--custom-lightgreen);
    opacity: 1;
}
  
.topnav div.searchbar input[type=text]::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: var(--custom-lightgreen);
}

.topnav div.searchbar img {
    margin: 0px;
    padding: 0px;
    width: 1.5em;
    filter: invert();
}

.topnav div.searchbar button {
    margin: 0px;
    padding: 7px 10px;
    border: none;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: var(--custom-green-searchbar);
    max-width: fit-content;
    height: 32px;
    cursor: pointer;
}

.topnav div.searchbar button:hover {
    background-color: var(--custom-green-searchbar-highlighted);
}

.searching {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0%;
}

/* Navbar hover */
.topnav div.left:hover {
    background-color: var(--custom-green-highlighted);
    color: var(--custom-lightgreen-highlighted);
}

.topnav div.right:hover {
    background-color: var(--custom-green-highlighted);
    color: var(--custom-lightgreen-highlighted);
}
  
/* Navbar active property */
.active div {
    border-bottom: 2px solid var(--custom-lightgreen);
    color: var(--custom-whitegreen);
}